/*Geral*/
html{
  font-size: 16px;
}
body {
  margin: 0;
}
h1 {
  color: red;
}
p {
  color: blue;
}

h2 {
  color: green;
  text-align: center;
  font-size: 50px;
}

/*Classes e Ids*/
.p-texto {
  color: grey;
}
#titulo-app {
  color: purple;
  font-size: 40px;
}

/*Cores no Css*/
#cor_nome {
  color: orange;
}
#cor_hexa {
  color: #88ff33;
}
#cor_rgba {
  color: rgba(255, 165, 0);
}

/*Aula sobre background*/
.div-background {
  background-image: url("img/exemplo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.div-background h1 {
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

/*Fontes*/

.family {
  color: #000;
  font-size: 40px;
}
.family.serif {
  color: green;
}
.serif {
  font-family: serif;
}
.sans-serif {
  font-family: sans-serif;
}
.monospace {
  font-family: monospace;
}
.italic {
  font-style: italic;
}
.oblique {
  font-style: oblique;
}
.bold {
  font-weight: bold;
}
.variants {
  font-variant: small-caps;
}

/*Box Model*/
.paragrafo-box {
  color: #fff;
  margin: 0;
}
.boxmodel {
  background-color: rebeccapurple;
  padding: 20px;
  border: 3px solid blue;
  margin: 50px;
  width: 200px;
  display: inline-block;
}

/*POSITIONS*/

.div-position {
  width: 200px;
  height: 200px;
  background-color: brown;
}
/*STATIC*/
.static {
  position: static;
}
/*RELATIVE*/
.relative {
  position: relative;
  background-color: blue;
  top: 100px;
  left: 50px;
}
/*ABSOLUTE*/
.absolute {
  position: absolute;
  background-color: green;
  right: 0;
  top: 0;
}
.mini-div {
  height: 50px;
  width: 50px;
  top: 50px;
  left: 10px;
  background-color: white;
}
/*FIXED*/
.fixed {
  position: fixed;
  height: 20px;
  width: 20px;
  bottom: 10px;
  right: 10px;
  background-color: purple;
}
/*STICKY*/
.sticky {
  position: sticky;
  height: 20px;
  width: 20px;
  top: 0px;
  background-color: sandybrown;
}

/*FLOAT*/
.container {
  padding: 50px;
}
.div-float {
  overflow: auto;
  margin-bottom: 50px ;
}
.img-float {
  width: 200px;
  height: 200px;
  float: left;
}
.float-right{
  float: right;
}
.p-float {
  color: #000;
}
.clear{
  clear: both;
}
/*TRABALHANDO UNIDADES DE MEDIDAS*/
.container-units{
  margin: 10px 20px;
}
/*Trabalhando medidas em pixels*/
.pixel-1{
  display: inline-block;
  background-color:greenyellow;
  width: 100px;
  height: 100px; 
}
.pixel-2{
  display: inline-block;
  background-color:red;
  width: 100px;
  height: 100px; 
}
/*Trabalhando com as medidas em (%) */
.pai-porcentagem{
  background-color: black;
  width: 500px;
  height: 500px;
  
}
.porcentagem-1{
  width: 50%;
  height: 50%;
  background-color: chocolate;
}
.porcentagem-2{
  width: 50%;
  height: 50%;
  background-color: yellow;
}

/*Trabalhando com as medidas em (em)*/
.pai-em{
  font-size: 100px;
}
/*trabalhando com valores em 'em' com multiplos entre 0 e 1*/
.em-um_quarto{
  width: 0.25em;
  height: 0.25em;
  background-color:blue;
}
.em-meio{
  width: 0.5em;
  height: 0.5em;
  background-color:yellow;
}
/*trabalhando com multiplos maiores ou iguais a 1*/
.em-1{
width: 1em;
height: 1em;
background-color: violet;
}
.em-2{
width: 2em;
height: 2em;
background-color: purple;
}
.em-3{
width: 3em;
height: 3em;
background-color: salmon;
}
/*trabalhando com medidas em 'rem' */

/*UTILIZANDO A IDEIA DE BOAS PRÁTICAS*/

.modulo_utilizando_rem{
  font-size: 20px;
  width: 10rem; /*como a font-size do <html> (root) mede 16px , logo teremos uma largura de 10 vezes 16px = 160px*/

  height: 20rem; /*como a font-size do <html> (root) mede 16px, logo teremos uma altura de 20 vezes 16px = 320px*/

  background-color: cornflowerblue;
}
.modulo-paragrafo_utilizando_em{
font-size: 0.5em; /*A font-size de <p> será de  0.5 vezes 20px =10px , ou seja, metade do tamanho da fonte de referência do seu elemento pai <div>*/
}
.div_interna_utilizando_em{
  width: 5em; /*a largura = 5 vezes 20px (tamanho da fonte do elemento pai)*/
  height: 3em;/*a altura  = 3 vezes 20px (tamanho da fonte do elemento pai)*/
  background-color: deeppink;
}